
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-12 ">



      </div>
      <!-- /.col-lg-12 -->

      <div class="col-lg-12">

<!----

<div id="">

</div>

-->
        <div class="row">
            <div class="col-lg-12 " id="banner"> 
                <div class="row">
                    <div class="col-6" id="clock"> 
                        _clock_
                    </div>
                    <div class="col-6" id="hints"> 
                        ___ ___ ___
                    </div>
                </div>
            </div>
            <div class="col-lg-12"> 
                <div class="row">
                    <div class="col-lg-2 "> 
                        <div class="row">
                            <div class="col-lg-12 " id="userlist"> 
                        
                                <!--div class="user" id="user1"> 
                                    Tomy
                                </div>
                                <div class="user" id="user2"> 
                                    Nico
                                </div <!-- -->
                            </div>
                            <div class="col-lg-12 ">
                                <div class="col-lg-12">
                                    <button class="btn btn-lg btn-primary btn-block" id="button_Pass" > Pass </button>
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-lg btn-secondary btn-block" id="button_next"> Next </button>    <!-- agregar modal -->
                                </div>
                                <div class="col-lg-12">
                                    <button class="btn btn-lg btn-secondary btn-block" id="btn_request"> Request </button>    <!-- agregar modal -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8"> 
                        <div class="row">
                            <div class="col-lg-12 " id="gamearea">
                                <canvas  id="gameCanvas" ></canvas>
                            </div>
                            <div class="col-lg-12" id="colorpalette">
                                <div class="colorBlock" id="white">
                                </div>
                                <div class="colorBlock" id="black">
                                </div>
                                <div class="colorBlock" id="darkgrey">
                                </div>
                                <div class="colorBlock" id="yellow">
                                </div>
                                <div class="colorBlock" id="red">
                                </div>
                                <div class="colorBlock" id="blue"></div>
                                <div class="colorBlock" id="orange"></div>
                                <div class="colorBlock" id="green"></div>
                                <div class="colorBlock" id="purple"></div>
                                <div class="colorBlock" id="pink"></div>
                                <div class="colorBlock" id="darkbrown"></div>
                                <div class="colorBlock" id="brown"></div>
                            </div>
                            <div class="colorBlock" id="clearCanvas">clear</div>
                            <div class="colorBlock" id="clearServer">clear ALL</div>
                        </div>
                    </div>

                    <div class="col-lg-2 "id="chat"> 
                        <div  id="messageBox">
                        </div>
                        <input  id="messageInput" placeholder="Respond here" >
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-12 -->

    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->

 