<!-- Page Content -->
<div class="container">

    <div class="row">

      <div class="col-lg-12 ">

        <h1 class="my-4">Hey $username$ </h1>

      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">
                     
                        </h4>
                        <p class="card-text">

                        <form class="form-changedetails" action="../home">
                          
                                <div class="col-lg-5">
                                    <p>Change your default language
                                    <input type="text" id="inputLanguage" class="form-control" placeholder="Language" value="eng" disabled>
                                </div>
                          
                            <p>Change your default avatar
                            <div class="col-lg-12" id="avatarArea">
                            <p>Avatar area
                            <p>Avatar area
                            <p>Avatar area
                            </div>


                            <button class="btn btn-lg btn-primary btn-block" type="submit">OK</button>
                    <!--       <button class="btn btn-lg btn-secondary btn-block" type="submit">Create private room</button>  -->
                        </form>
                    
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" href="#">How to play</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
            </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

