<!-- Page Content -->
<div class="container">

    <div class="row">

      <div class="col-lg-12 ">

        <h1 class="my-4">Create an account on RTS</h1>

      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">
                        Register as user!
                        </h4>
                        <p class="card-text">

                        <form class="form-register">
                            <div class="row">
                                <div class="col-lg-7">
                                    <label for="inputUsername" class="sr-only"> Username </label>
                                    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
                                </div>
                                <div class="col-lg-5">
                                    <label for="inputLanguage" class="sr-only">Language</label> <!--- Convert to menu  --->
                                    <input type="text" id="inputLanguage" class="form-control" placeholder="Language" disabled value="eng">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label for="inputEmail" class="sr-only"> Email </label>
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
                            </div>

                            <div class="col-lg-12">
                                <label for="inputPassword" class="sr-only"> Password </label>
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" autofocus="">
                            </div>

                            <div class="col-lg-12">
                                <label for="inputPasswordConfirmation" class="sr-only"> Password Confirmation </label>
                                <input type="password" id="inputPasswordConfirmation" class="form-control" placeholder="Password Confirmation" required="" autofocus="">
                            </div>

                            <p>Make your default avatar
                            <div class="col-lg-12" id="avatarArea">
                                <p>Avatar area
                                <p>Avatar area
                                <p>Avatar area
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="button" (click)="onRegister()" id="btn_register">Create my account!</button>
                        </form>
                    
                    </div>
                    <div class="card-footer">
                        <a class="nav-link" href="#">How to play</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
            </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

